.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 300px;
  box-shadow: 0 0 6px 2px silver;
  margin: 20px;
  padding: 20px 20px 40px;
}

.card img {
  width: 300px;
}

.card p {
  margin-bottom: 30px;
}

.card-action {
  margin-top: 20px;
}

.card-action a, .btnHome {
  padding: 10px 20px 12px;
  background-color: #444444;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
}
